/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

 :root {

  /**
   * colors
   */

  --sky-blue-crayola: hsl(188, 64%, 60%);
  --raisin-black_90: hsla(240, 8%, 12%, 0.9);
  --raisin-black-1: hsl(240, 8%, 17%);
  --raisin-black-2: hsl(240, 8%, 12%);
  --majorelle-blue: hsl(241, 77%, 63%);
  --blue-ryb_80: hsla(241, 88%, 60%, 0.8);
  --bittersweet: hsl(0, 100%, 69%);
  --eerie-black: hsl(0, 0%, 13%);
  --ghost-white: hsl(230, 60%, 98%);
  --light-gray: hsl(0, 0%, 80%);
  --slate-gray: hsl(225, 8%, 48%);
  --cool-gray: hsl(225, 11%, 59%);
  --gainsboro: hsl(217, 16%, 90%);
  --mustard: hsl(47, 100%, 69%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(240, 5%, 26%);
  --jet: hsl(0, 0%, 21%);





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/






/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/





/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/





/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/





/*-----------------------------------*\
  #NEWSLETTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/